## Purpose ==> To perform the analysis of loan application data

In [1]:
import pandas as pd

In [2]:
loan = pd.read_csv('../DATASET/loan.csv')

In [3]:
loan.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_status
0,LP001015,Male,Yes,0,Graduate,No,5720,0.0,110.0,360.0,1.0,Urban,Y
1,LP001022,Male,Yes,1,Graduate,No,3076,1500.0,126.0,360.0,1.0,Urban,N
2,LP001031,Male,Yes,2,Graduate,No,5000,1800.0,208.0,360.0,1.0,Urban,Y
3,LP001035,Male,Yes,2,Graduate,No,2340,2546.0,100.0,360.0,NaN,Urban,Y
4,LP001051,Male,No,0,Not Graduate,No,3276,0.0,78.0,360.0,1.0,Urban,Y

In [4]:
# shape of the dataset
loan.shape

(981, 13)

In [6]:
# checking for missing values
loan.isnull().sum()

Loan_ID               0
Gender               24
Married               3
Dependents           25
Education             0
Self_Employed        55
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           27
Loan_Amount_Term     20
Credit_History       79
Property_Area         0
Loan_status           0
dtype: int64

In [7]:
# what do you do with columns having null values?

In [8]:
loan.Gender.value_counts()

Male      775
Female    182
Name: Gender, dtype: int64

In [9]:
loan.Gender.unique()

array(['Male', 'Female', nan], dtype=object)

In [10]:
# filling null values in Gender columns
# approach 1: Fill by majority values
# approach 2: Fill by proportionate values (80% male and 20% female)

In [11]:
# fill the nulls with majority values
loan_x = loan
loan_x.Gender = loan_x.Gender.fillna('Male')

In [12]:
loan_x.isnull().sum()

Loan_ID               0
Gender                0
Married               3
Dependents           25
Education             0
Self_Employed        55
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           27
Loan_Amount_Term     20
Credit_History       79
Property_Area         0
Loan_status           0
dtype: int64

In [19]:
import random
random.choice(['Male', 'Male', 'Female','Male', 'Male'])

'Male'

In [20]:
def gender_fill():
    gender = random.choice(['Male', 'Male', 'Female','Male', 'Male'])
    return gender

In [30]:
# fill by proportionate values
loan_z = loan
loan_z.Gender = loan_z.Gender.fillna(gender_fill())

In [31]:
loan_z.isnull().sum()

Loan_ID               0
Gender                0
Married               3
Dependents           25
Education             0
Self_Employed        55
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           27
Loan_Amount_Term     20
Credit_History       79
Property_Area         0
Loan_status           0
dtype: int64

In [32]:
loan_x.Gender.value_counts()

Male      799
Female    182
Name: Gender, dtype: int64

In [33]:
loan_z.Gender.value_counts()

Male      799
Female    182
Name: Gender, dtype: int64

In [40]:
# getting average or mean of loan amount column
loan_x.LoanAmount.mean()

142.51153039832286

In [42]:
# filling numeric columns: by mean or median or mode
loan_x.LoanAmount = loan_x.LoanAmount.fillna(loan_x.LoanAmount.mean())

In [43]:
loan_x.isnull().sum()

Loan_ID               0
Gender                0
Married               3
Dependents           25
Education             0
Self_Employed        55
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term     20
Credit_History       79
Property_Area         0
Loan_status           0
dtype: int64